[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pelican = "*"
markdown = "*"
"beautifulsoup4" = "*"
ghp-import = "*"


[dev-packages]



[requires]

python_version = "3.6"
